<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE = edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Exercise info</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</head>

<body>
    <h1 style="font-size: 500%">&#9432;</h1>
    <div class="card" style="margin:0 auto; padding: 10%">
        <div class="card-body">
            <h1 class="card-title">Name</h1>
            <p id="name" class="card-text"></p>
        </div>
        <div class="card-body">
            <h3 class="card-title">Description</h3>
            <p id="description" class="card-text"></p>
        </div>
        <div class="card-body">
            <h3 class="card-title">Equipment</h3>
            <p id="equipment" class="card-text"></p>
        </div>
        <div class="card-body">
            <h3 class="card-title">Primary Muscles</h3>
            <p id="muscles_primary" class="card-text"></p>
        </div>
        <div class="card-body">
            <h3 class="card-title">Secondary Muscles</h3>
            <p id="muscles_secondary" class="card-text"></p>
        </div>
        <div class="card-body">
            <h3 class="card-title">Category</h3>
            <p id="category" class="card-text"></p>
        </div>
        <div class="container">
            <div class="row">
                <div id="iFrameContainer" class="col">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe id="iFrame1" allowfullscreen></iframe>
                    </div>
                    <br>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe id="iFrame2" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="../js/exercise_info.js"></script>
    <script>
        var card = <%-card %>;
        window.onload = fillSection(card);
    </script>
</body>

</html>