<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE = edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <title><%-category%> Exercise List</title>
</head>


<body>
    <nav class="navbar navbar-dark default-color bg-dark">
        <a class="navbar-brand text-white" href="#">FitAdvisor</a>
        <div>
            <form class="form-inline">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </div>
            </form>
        </div>
    </nav>
    <div class="container-fluid w-50" style="margin-top: 2%">

        <table class="table table-bordered table-striped">
            <thead class="thead bg-dark">
                <th class="text-white"><%-category%> Exercise</th>
                <th class="text-white">Exercise Card</th>
            </thead>
            <tbody id="body_table">
            </tbody>
        </table>
        <div class="clearfix">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a id="leftArrow" onclick="arrowSwitch(-1);"
                            class="page-link text-dark">Previous</a></li>
                    <li id="list_container" class="page-link">

                    </li>
                    <li class="page-item"><a a id="rightArrow" onclick="arrowSwitch(1);"
                            class="page-link text-dark">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>


    <script src="../js/exercise_list.js"></script>
    <script>
        var category = "<%-category%>";
        buildTable(category);
    </script>
</body>

</html>