<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE = edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    
    <link href="../css/index-style.css" rel="stylesheet">

    <title>Injury Detail</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>            
    <style>
        body {
            font-family: sans-serif;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
            text-align: justify;
            text-justify: inter-word;
            color: white;
        }
        h1 {
            color: #e53d46;
            font-size: 50px;
        }
        img {
           width: 250px; 
        }
    </style>
    <script>
        $(function(){
            $(".navbar").load("./html/nav-bar.html"); 
        });    
    </script> 
</head>

<body>
    <nav class="navbar navbar-black default-color bg-dark"></nav>
    <div class="inj-container  bg-dark p-5" style="width: 70%; margin: 2% auto;">
        <%- content %>
    </div>
    <script>
        $('h1').append("<hr style='border: 1px solid #e53d46'/>");
    </script>
</body>



</html>


